.container {
    padding: 80px 120px;
}

#band {
    text-align: center;
}

.person {
    border: 10px solid transparent;
    margin-bottom: 25px;
    width: 80%;
    height: 80%;
    opacity: 0.7;
}

.person:hover {
    border-color: #f1f1f1;
}


/*Style carousel*/

.carousel-inner img {
    -webkit-filter: grayscale(90%);
    filter: grayscale(90%);
    /*make all photos black and white*/
    width: 100%;
    margin: auto;
}

.carousel-caption h3 {
    color: #fff;
}

@media (max-width: 600px) {
    .carousel-caption {
        display: none;
        /*visibility: hidden;*/
        /*Hide the carousel text when the screen is less than 600px wide*/
    }
}


/*Tour Dates*/

.bg-1 {
    background: #2d2d30;
    color: #bdbdbd;
}

.bg-1 h3 {
    color: #fff;
    text-align: center;
}

.bg-1 p {
    font-style: italic;
    text-align: center;
}


/*Lists, Thumbnails and Buttons*/

#nail,
.thumbnail {
    text-align: center;
}

.list-group-item:first-child {
    /*border-radius: 0;*/
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.list-group-item:last-child {
    /*border-radius: 0;*/
    border-top-right-radius: 0;
    border-top-left-radius: 0;
}

.thumbnail {
    border: none;
    padding: 0 0 15px 0;
    border-radius: 0;
    /*remove border and add padding to thumbnails*/
}

.thumbnail p {
    margin-top: 15px;
    color: #555;
}

.btn {
    padding: 10px 20px;
    background-color: #333;
    color: #f1f1f1;
    border-radius: 0;
    transition: 0.2s;
}

.thumbnail .btn:hover,
.thumbnail .btn:focus {
    border: 1px solid #333;
    background-color: #fff;
    color: #000;
}


/*Modal*/

.modal-header,
h4,
.close {
    background-color: #333;
    color: #fff;
    text-align: center;
    font-size: 30px;
}

.modal-header,
.modal-body {
    padding: 40px 50px;
}


/*Contact*/

#contact h3,
#contact>p {
    text-align: center;
}


/*Tabs*/

.nav-tabs li a {
    color: #777;
}


/*google map*/

#googleMap {
    width: 100%;
    height: 400px;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}


/*Navbar*/

.navbar {
    margin-bottom: 0;
    background-color: #2d2d30;
    border: 0;
    font-size: 11px !important;
    letter-spacing: 4px;
    opacity: 0.9;
}

.navbar .navbar-nav li a,
.navbar .navbar-brand {
    color: #d5d5d5;
}

.navbar .navbar-nav li a:hover {
    color: #fff;
}

.navbar .container-fluid .collapse .navbar-nav li.active a {
    color: #fff;
    background-color: #29292c;
}

.navbar-default .navbar-toggle {
    border-color: transparent;
}

.open .dropdown-toggle {
    color: #fff;
    background-color: #555;
}

.dropdown .dropdown-menu li a {
    color: #000;
}

.dropdown .dropdown-menu li a:hover {
    background-color: red;
}


/*Footer*/

footer {
    text-align: center;
    background-color: #2d2d30;
    color: #f5f5f5;
    padding: 32px;
}

footer .glyphicon {
    margin-bottom: 20px;
}

footer a {
    color: #f5f5f5;
}

footer a:hover {
    color: #777;
    text-decoration: none;
}


/*Slide Effect*/

.slideadmin {
    visibility: hidden;
}

.slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animaiton-duration: 1s;
    visibility: visible;
}

@keyframes slide {
    from {
        opacity: 0;
        transform: translateY(70%);
    }
    to {
        opacitiy: 1;
        transform: translateY(0%);
    }
}

@-webkit-keyframes slide {
    0% {
        opacity: 0;
        transform: translateY(70%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}


/*Overwrite default styles of h3 and h4*/

h3,
h4 {
    margin: 10px 0 30px 0;
    letter-spacing: 10px;
    font-size: 20px;
    color: #111;
}


/*Remove rounded borders on input fields*/

.form-control {
    border-radius: 0;
}


/*Disable the ability to resize textareas*/

textarea {
    resize: none;
}